button, input{
  border-radius:0!important;
}
ol,ul{
  font-size: 16px;
  padding: 0;
  li{
    line-height: 1.7;
  }
}
h2, h3, h4{
  padding-top: 0!important;
  margin-top: 10px!important;
}
p{
  margin-top: 1em!important;
  margin-bottom: 1em!important;
  font-size: 16px;
  line-height: 1.7;
}
p.sidebar-heading{
  margin-bottom:0 !important;
}
ul.sidebar-items{
  padding-top:0!important;
}
:root{
  --sidebar-width: 18rem;
  --content-width: 980px;
}
.vue-home{
  .theme-default-content{
    padding: 0;
    margin: 0;
  }
}
button.primary-button{
  color: #fff;
  background: rgb(24, 160, 88);
  outline: none;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0 5px;
  transition: all .45s;
  cursor: pointer;
  &:hover {
    background-color:rgb(54, 173, 106);
  }
  &:active{
    background-color:rgb(12, 122, 67);
  }
}
code {
  font-size: 15px;
}
iframe{
  width: 100%;
  outline: none;
  border:none;
  min-height: 1200px;
}
