button, input{
  border-radius:0!important;
}
ol,ul{
  padding: 0;
  list-style:none;
}
p{
  margin-top: 1em!important;
  margin-bottom: 1em!important;
  font-size: 16px;
  line-height: 1.7;
}
p.sidebar-heading{
  margin-top:0!important;
  margin-bottom:0 !important;
  padding: 0!important;
  font-size:0;
}
:root{
  --sidebar-width: 18rem;
  --content-width: 900px;
}

.vue-home{
  .theme-default-content{
    padding: 0;
    margin: 0;
  }
}

